body{
    background-color:#808080;
}

h1{text-align:center;
    color:#ff0000;
    text-shadow: 2px 2px 1px black;
}

p{
    color:yellow;
}

.test1{
    color:orange;
}

#test2{
    color:aqua;
    background-color:purple;
    border-color:white;
    border-style:solid;
    border-width:3px;
}